/* line 4, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_header.scss */
header .top {
  background: rgba(14, 39, 69, 0.8) no-repeat center center fixed;
  max-width: 100%;
  max-height: 100%;
  height: 500px; }
  /* line 10, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_header.scss */
  header .top .container {
    width: 100%;
    height: 100px;
    font-size: 20px;
    font-color: #ecf0f1; }
    /* line 15, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_header.scss */
    header .top .container .pull-left {
      padding-top: 20px; }
/* line 21, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_header.scss */
header .row {
  width: 100%; }
/* line 25, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_header.scss */
header .list-unstyled li a {
  font-size: 20px;
  font-color: #ecf0f1;
  padding-top: 20px; }
/* line 31, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_header.scss */
header h1 {
  text-transform: uppercase;
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 0;
  text-align: center; }
/* line 39, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_header.scss */
header h5 {
  color: #FFFFFF;
  margin-top: 0;
  font-size: 20px;
  text-align: center; }

/* line 47, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_header.scss */
.bigtitle {
  text-align: center; }

/* line 51, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_header.scss */
.topleft {
  font-size: 20px;
  font-weight: bold; }

/* line 1, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_left_side.scss */
.col-md-8 {
  text-align: left;
  margin-bottom: 10px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px; }

/* line 1, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_right_side.scss */
.col-md-4 {
  text-align: center;
  font-size: 60%;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 50px; }
  /* line 7, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_right_side.scss */
  .col-md-4 .side {
    text-align: left;
    padding-right: 50px;
    padding-left: 50px; }
  /* line 13, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_right_side.scss */
  .col-md-4 .tint .overlay {
    background: rgba(14, 39, 69, 0.6) no-repeat center center fixed;
    width: 100; }

/* line 20, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_right_side.scss */
.bio-pic {
  height: 100px;
  width: 100px;
  border-radius: 100px; }

/* line 26, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_right_side.scss */
.blog-pic {
  height: 70px;
  width: 70px;
  border-radius: 70px; }

/* line 32, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_right_side.scss */
.img-thumbnail {
  width: 70%; }

/* line 1, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_social_buttons.scss */
.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1); }

/* line 6, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_social_buttons.scss */
#social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s; }

/* line 16, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_social_buttons.scss */
.social-fb:hover {
  color: #3B5998; }

/* line 19, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_social_buttons.scss */
.social-tw:hover {
  color: #4099FF; }

/* line 22, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_social_buttons.scss */
.social-gp:hover {
  color: #d34836; }

/* line 25, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_social_buttons.scss */
.social-em:hover {
  color: #f39c12; }

/* line 1, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_footer.scss */
section {
  text-align: center;
  clear: left; }
  /* line 4, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_footer.scss */
  section h3 {
    color: #0E2745; }

/* line 10, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_footer.scss */
li {
  display: inline;
  float: right;
  padding-top: 30px; }

/* line 16, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_footer.scss */
.pics {
  background-size: cover;
  width: 100%;
  height: 150px;
  float: left;
  cursor: pointer; }
  /* line 22, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_footer.scss */
  .pics .overlay {
    background: rgba(14, 39, 69, 0.6) no-repeat center center fixed;
    width: 100%;
    height: 100%;
    font-size: 35px;
    font-weight: bold;
    padding-top: 300px;
    margin-bottom: 50px; }
  /* line 32, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_footer.scss */
  .pics:hover .overlay {
    background: none;
    color: crimson; }

/* line 39, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_footer.scss */
.h6 {
  color: #000098;
  text-align: center;
  font-size: 25px;
  padding-top: 40px;
  padding-bottom: 10px; }

/* line 47, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_footer.scss */
.footer {
  width: 100%;
  height: 120px;
  background: #0E2745;
  color: #D8D8D8;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: x-small; }

/* line 58, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_footer.scss */
.col-md-3 {
  padding: 0; }

/* line 62, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_footer.scss */
.h2 {
  font-size: 60px;
  color: #000098; }

/* line 67, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_footer.scss */
.block {
  font-size: 40px;
  color: cornflowerblue;
  padding-top: 20px; }

/* line 73, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_footer.scss */
.h3 {
  font-size: 60px;
  color: #000098;
  padding-top: 20px;
  padding-bottom: 20px; }

/* line 80, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/_footer.scss */
.logo {
  padding-top: 10px; }

/* line 9, /Users/Dax/TIY/Week-3-Lab/source/stylesheets/style.scss */
p {
  font-size: 12pt; }
